body {
  background: linear-gradient(to right, #34223a, rgb(62, 2, 2));
  color: #c0c0c0;
}

.h4 {
  color: #c0c0c0;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998 !important;
}

.card-body {
  min-width: 400px;
  color: #c0c0c0;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
